/*Footer*/
.site-footer {
    background: url(../../img/dark-wood@2x.png);
	background-size: 512px 512px;
	color:white;
	 a{
		color: #fff;
		text-decoration: none;
        width: 280px;
        &:hover{
            text-decoration: underline;
        }
    }
    .footer-widget{
        display:flex;
        .footer-widget-item{
            margin: 3rem 0;
            padding-right: 1.5rem;
            width: 25%;
            &:last-child{
                width: 50%;
                padding: 25px 0;
                display: flex;
                justify-content: flex-end;
            }
            i{
            	font-size: 1.25rem;
                margin-right: .5rem;
            }
        }
    }
    .footer-copyright{
        text-align: center;
        font-family: Novecento Sans Web,sans-serif;
        padding: 1.5rem 0;
        text-align: center;
        text-transform: uppercase;
    }
    .fa-phone{
        transform: scaleX(-1);

    }
}