/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button.button-green,
input[type="button"],
input[type="reset"],
input[type="submit"], .button-green, a.button-green{
	border: 1px solid $color_green;
	background:$color_green;
	color:#ffff;
	font-size:1rem;
	font-family: $font_second;
	text-transform: uppercase;
	line-height: 1;
	padding: 10px;

	&:hover {
		filter:contrast(80%) brightness(80%);
		color:#ffff;
	}

	&:active,
	&:focus {
		filter:contrast(80%) brightness(85%);
		color:#ffff;
	}
}
button.button-black-border, 
.button-black-border, 
{
	border: 1px solid black;
	padding: 10px;
	font-family: $font_second;
	text-transform: uppercase;
	font-size: 1rem;
	color: black;
	background-color: white;
	a{
		color:black;
	}
	&:hover {
		background: $color_green;
		color: white;
		border: 1px solid $color_green;
	}
	&:active,
	&:focus {
		background: darken($color_green, 5%);
		border: 1px solid darken($color_green, 5%);
	}
}
a.btn-white-border{
	padding: 10px;
	font-family: $font_second;
	text-transform: uppercase;
	font-size: 1rem;
	border: 1px solid white;
	color: white;
	background-color: transparent;
	&:hover {
		background: $color_green;
		color: white;
		border: 1px solid $color_green;
	}
	&:active,
	&:focus {
		background: darken($color_green, 5%);
		border: 1px solid darken($color_green, 5%);
	}
}

// .button{
// 	padding: 10px;
// 	// width: 40%;
// 	text-align: center;
// 	font-family: $font_second;
// 	text-transform: uppercase;
// 	border: 1px solid white;
// 	&:hover{
// 		background-color:$color_green;
// 		border: 1px solid $color_green;
// 		color: white;
// 	}
// 	   a{
// 		color: white;
// 	   }
//   }

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	background-color:#f4f4f4;
	width:100%;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

label{
	font-family:$font_second;
	text-transform:uppercase;
	font-size:1.1rem;
	display:block;
	margin-bottom:10px;
	.required{
		color:$color_yellow;
	}
}
/*comments*/
.comment-form{
	display: flex;
	flex-wrap: wrap;

	.comment-form-comment, .comment-form-url{
		flex-basis: 100%;
		margin: 15px 0;
	}
	.comment-form-author{
		flex-basis: 50%;
		padding-right: 10px;
		margin: 15px 0;
	}
	.comment-form-email{
		flex-basis: 50%;
		padding-left: 10px;
		margin: 15px 0;
	}
}