/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

.site-header{
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom:1px solid $color_grey_light;
	position: fixed;
	width: 100%;
	z-index: 3;
	.container{
		height: 50px;
		// width: 1120px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		.site-branding{
			flex-basis: 20%;
			display: flex;
			align-items: center;	
			.header-logo{//cannot position nicely img inside the navbar
				.logo{
					width: 50px;
					height: 33.25px;
					background-size: cover;
					background-image: url("../../img/inhabitent-logo-tent.svg");		
				}
				.logo_white{
					width: 50px;
					height: 33.25px;
					background-size: cover;
					background-image: url("../../img/inhabitent-logo-tent-white.svg");		
				}
					
			}
		} // end of .site-branding
		.main-navigation{
			flex-basis: 80%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			
			.menu-main-menu-container{
				padding-right: 10px;
				font-family: $font_second;
				text-transform: uppercase;
				li{
					margin-left: 30px;
				}
			}

			.header-search{
				.search-form{
					.search-field{
						display: none;
						// width: 0;
						// padding: 0;
						// border: none;
						// background-color: transparent;
					}
					.search-field-focus{
						width: 200px;
						padding-left: 5px;
					}
				}
			} // end of .header-search

					
		} // end of .main-navigation
	} // end of .container
} // end of .site-header
.site-header-reversed{
	background-color: rgba(255, 255, 255, 0.1);
	// position: fixed;
    width: 100%;
    z-index: 1;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
