/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

//default style for pages with sidebar
.blog, .single-post, .error404, .archive,.page-id-29, .search{
	.site-content{
      width: 1120px;
      margin: 0 auto;
      padding-top: 50px;
      display: flex;

      .content-area{
        flex-basis: 70%;
        padding: 60px 50px 60px 0;
      }
      .widget-area{ // sidebar
        flex-basis: 30%;
        padding-top: 40px;
        padding-left: 60px;
        border-left: $solid_border;
      }  
		} 
	}
		// Global - pages without sidebar
	.home,.page-template-about, .single-adventure
	{
		.site-content{
			width: 100%;
// 			padding-top: 50px;
			display: block;
			margin: 0 auto;
			padding-top: 0;
			.content-area{
				width: 100%;
				padding-bottom: 60px;
				padding-right: 0;
			}
		}
	}

.tax-product_type, .post-type-archive-adventure
	{
		.site-content{
			width: 100%;
// 			padding-top: 50px;
			display: block;
			margin: 0 auto;
			padding-top: 0;
			.content-area{
				width: 100%;
				padding-top: 60px;
				padding-bottom: 60px;
				padding-right: 0;
			}
		}
	}

.container {
	margin: 0 auto;	
	width: 1120px;
}
/* Front page front-page.php */
.home{
	.site-header{
		background-color: transparent;
    	border-bottom: 0;
    	position: absolute;
			text-shadow: 1px 1px 2px #323232;
			.main-navigation a{
				color:white;
				&:hover{
					color:$color_yellow_light;
				}
			}
	}
	.front{
		margin-bottom: 5rem;
		width: 1120px;
	}
		h2{
			font-size: 2.4rem;
			font-weight: 400;
			margin-bottom: 3.75rem;
			text-align: center;
		}
} 

/*Front page -> Banner*/
.front-page-banner{
		display: flex;
		justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url('../../img/home-hero.jpg') no-repeat top;
    background-size: cover,cover;
		height:100vh;
		width: 100%;
}
/*Front page -> Shop products*/
.product-container{
	display: flex;
	justify-content: space-between;
	text-align: center;
	.single-product-item{
		border:$solid_border;
    border-top-width: 5px;
    flex-basis: 25%;
    max-width: 23.5%;
		padding: .75rem;
		&:hover{
			border:1px solid $color_yellow;
		}
		a{
			color: white;
			&hover{
				color:white;
			}
		}
		img{
			height: 70px;
			width: 70px;
		}
		p{
			margin-bottom: 1.5rem;
		}
	}
}//end of product-container

/*Front page -> Journal section*/
.blog-posts-container{
	display: flex;
	justify-content: space-between;
	.blog-posts-single{
		flex-basis: 33%;
		border: $solid_border;
		position: relative;
		h3{
			font-size: 1.3rem;
			margin-bottom: 3.75rem;
			a{
				color:$color_green;
				&:hover{
					color:black;
				}
			}
		}
		img{
			height: 250px;
		}
	}
	.blog-posts-single-text{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: .75rem;
	} 
	.button-black-border{
		position:absolute;
    	bottom: .75rem;
    	left: .75rem;
    	font-size:.9rem;
    	color:#000;
	}
}//end of blog-posts-container

/*Front page -> Adventures section*/
.adventures-posts-container {
	display: grid;
	grid-gap:14px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	.adventures-posts-single{
		position: relative;
			img{
			display: inline-block;
			object-fit: cover; //https://www.w3schools.com/css/css3_object-fit.asp
			width: 100%; 
			//https://www.w3schools.com/cssref/css3_pr_filter.asp
			filter: contrast(80%) brightness(70%);
		}
	}
	.adventures-posts-single-text{
		position: absolute;
		top:0;
		margin: 25px;
			h3{
				font-size: 3rem;
				line-height: 1.25rem;
				margin: 20px 0;
				line-height: 1;
			}
			.entry-title a{
				font-family: $font__main;
				font-weight: 400;
				text-transform: none;
				color: white;
				&:hover{
				  color:$color_yellow_light;
				  opacity: 50%;
				} 
			}
			.adventures-post-button{
				padding: 5px;
				// width: 40%;
				text-align: center;
				font-family: $font_second;
				text-transform: uppercase;
				border: 1px solid white;
				color:white;
				&:hover{
					background-color:$color_green;
					border: 1px solid $color_green;
					color:white;
				}
				   a{
					color: white;
				   }
			  }	
	}
	.adventures-posts-single:nth-child(1){
		grid-row-start: span 2;
		grid-column-start: span 2;
		height: 552.5px;
		img{
		  height: 552.5px; 
		}
	  }
	.adventures-posts-single:nth-child(2){
		grid-column-start: span 2;
		height: 268.75px; 
		img{
		  height: 268.75px; 
		}
	  }
	.adventures-posts-single:nth-child(3){
		height: 268.75px; 
		img{
		  height: 268.75px; 
		}
		.adventures-posts-single-text{
			h3{
			  font-size: 1.6rem;
			  line-height: 2.2rem;
			  margin: 20px 0;
			}
		  }
	}
	.adventures-posts-single:nth-child(4){
		height: 268.75px; 
		img{
		  height: 268.75px; 
		}
		.adventures-posts-single-text{
			h3{
			  font-size: 1.6rem;
			  line-height: 2.2rem;
			  margin: 20px 0;
			}
		  }
	  }
}   // end of adventures-posts-container 
.adventures-button{
	background: #248a83;
    color: #fff;
    font-family: $font_second;
    font-size: 1.2rem;
    padding: 5px;
	text-transform: uppercase;
	text-align: center;
    width: 20%;
    margin-top: 1.2rem;
	a{
		color:white;
	}
}

.single-adventure{
	.site-header{
			background-color: transparent;
    	border-bottom: 0;
    	position: absolute;
			text-shadow: 1px 1px 2px #323232;
			.main-navigation a{
				color:white;
				&:hover{
					color:$color_yellow_light;
				}
			}
		}
	.single-adventure-text{
		max-width: 800px;
	}	
}
/*adventure archive*/
.adventure-grid{
		display: grid;
    grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
}

/*Single post page->single.php, blog(journal) page -> home.php, category/archive page ->archive.php*/
.blog, .single-post, .archive{
	.button-black-border{
		a{
			color:black;
		}
	}
  .post{
    margin-bottom: 80px;
    .entry-header{
      position: relative;
      img{
        width: 100%;
        display: block;
      }
      .entry-title{
        position: absolute;
        left: 0;
        top: 8px;
        background-color: $color_green;
        width: 570px;
        padding: 15px 25px;
        line-height: 40px;
        a{
          color: white;
          font-size: 2rem;
          font-weight: 700;
          &:hover{
            color: $color_yellow_light;
          }
        }
        &:not(.blog){
          color: white;
          font-size: 2rem;
          font-weight: 700;
        }
      }
      .entry-meta{
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $color_green;
        padding: 5px 15px;
        color: white;
        font-family: $font_second;
        text-transform: uppercase;
        span{
          color: white;
          font-family: $font_second;
          text-transform: uppercase;
          &:not(.blog){
            a{
              color: white;
              font-family: $font_second;
              text-transform: uppercase;
              &:hover{
                color: $color_yellow;
              }
            }
          }
        }  
      } // end of .entry-meta
    } // end of .entry-header
    .cat-links, .tags-links{
    	display: inline-block;
    font-family: Novecento Sans Web,sans-serif;
    text-transform: uppercase;
    margin-right: 1.5rem;
    }
  } // end of .post
} // end of .blog, .single-post
.social-buttons {
	margin:1.5rem 0;
	display: flex;
    & .button-black-border{
    	font-size: .9rem;
    	margin-right: 10px;
    	width: 100px;
    	text-align: center;
    }
}//end of social buttons

.comments-area{
	.comment{
		padding-top: 1.5rem;
	}
	article{
		padding-bottom: 1.5rem;
	}
	h2, h3{
		font-size:2.1rem;
		color: #2f1339;
	}
	.comment-body{
		display:flex;
	}

   li {
   	display: inherit;
   	border-top: $solid_border;
    border-bottom:$solid_border;
    //how to not make the first top bottom?
    }

	
	.comment-author-avatar{
		border-radius: 50%;
    height: 64px;
    margin-right: 1.5rem;
    overflow: hidden;
    width: 64px;
	}
	.comment-author cite {
    font-style: normal;
    font-weight: bold;
}
.comment-metadata {
    color:$color_grey_light;
    margin-bottom: .75rem;
}
}

/* error 404 page */
.error404{
  .site-main{
    .error-404{
      .page-header{
        h1{
          font-size: 2.3rem;
          margin-top: 0;
          margin-bottom: 50px;
          line-height: 2.3rem;
        }
      }
      .search-form{
        fieldset{
          margin-left: 0;
        }
        .search-icon{
          display: none;
        }
        label{
          margin-left: 0;
        }
        
      }
      .page-content{
        .widget{
          .widgettitle{
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.5rem;
          margin-top: 50px;
          }
            li{
              a{
                font-family: $font__main;
                text-transform: none;
              }
            }
          
        }
      } // end of .page-content
    } // end of .error-404
  } // end of .site-main
} // end of .error404



 
/*about full-width page*/
/* About page */


.page-template-about{
	// .entry-header{
  //   height:100vh;
  //   width: 100vw;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
	// 	background-color: #aaa;
	// 	background-size: cover;
  //   h1{
  //     display: inline-block;
  //     color:white;
  //     position:absolute;
  //     font-size:3rem;
  //   }
	// }
	
	// .entry-title .about h1{
	// 	margin: 0;
  //   transform: translateY(200px);
	// }
	.site-header {
    background-color: transparent;
    border-bottom: 0;
    position: absolute;
		text-shadow: 1px 1px 2px #323232;
		.main-navigation a {
			color: #fff;
			&:hover{
				color :$color_yellow_light;
			}
	}
	}
  .entry-content{
    width: 800px;
    margin: 80px auto;
    h2{
//       font-weight: 700;
//       font-size: 2.1rem;
//       line-height: 2.5rem;
//       margin-top: 50px;
      text-align: center;
    }
  }
} // end of .page-template-about

.page-template-about .entry-title{
	font-size: 3rem;
	margin: 0;
	// transform: translateY(200px);
}
// .custom-hero{
// 	color: #fff;

//     display: flex;

//     flex-direction: column;
//     justify-content: center;
//     text-align: center;
// }

///* Shop page style */
.post-type-archive-product, .tax-product_type{
	.content-area{
	padding-top: 3rem;
    padding-bottom: 3rem;
	}
  .site-main{
    .page-header{
      text-align: center;
      border-bottom: $dashed_border;
      padding-top: 3rem;
    	padding-bottom: 3rem;
    	margin-bottom: 3rem;
        li{
					display: inline-block;
					font-family: $font_second;
					text-transform: uppercase;
					margin: 0 1.5rem;
					font-size: 1.2rem;
      }
      
    }
    .product-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-column-gap: 15px;
			grid-row-gap: 15px;
      margin-bottom: 30px;
      .product-grid-item{
        border: $solid_border;
        .product-item-thumbnail{
          overflow: hidden;
          height: 250px;
          border-bottom: 5px solid $color_grey_lighter;
          img{
            height: 250px;
            width: 100%;
            object-fit: cover;
          }
        }
        .product-item-info{
          background-color: white;
          border-top-width: 5px;
		  	font-size: .9rem;
		  	font-family: $font__main;
		  	display: flex;
		  	padding: .75rem 1rem;
		  	justify-content: space-between;

          p{
            font-weight:lighter;
          }
            .dots{
            	flex: 1;
   			 	border-bottom:.5px dashed black;
   				transform:translateY(-5px);
            }
          }
          
        }
    } // end of .product-grid
  } // end of .site-main
} // end of .post-type-archive-product

//SINGLE-PRODUCT shop
.single-product{
	.content-area{
		padding: 3rem 0;
	}
		.site-main{
			padding-top: 3rem;
			display: flex;
			justify-content:space-between;
			.content-area{
				padding-top: 3rem;
    			padding-bottom: 3rem;
			}
			.entry-title{
				color:$color_yellow;
				line-height: 1.25;
			}
			.price{
						font-family:$font_second;
						font-size: 1.8rem;
						margin-top: 0;
			}
			.single-product-img{
				flex-basis: 48%;
			}
			.single-product-content{
				flex-basis: 48%;
			}
		}
}
