/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

body{
  // for .blog, .single-post .page .error404, .search-results
  &:not(.home):not(.page-template-about):not(.single-product):not(.post-type-archive):not(.tax-product-type):not(.post-type-archive-adventure):not(.single-adventure) {
    .site-content{
      width: 1120px;
      margin: 0 auto;
      padding-top: 50px;
      display: flex;

      .content-area{
				flex-basis: 70%;
				border-right: 1px solid #e1e1e1;
				padding-right: 5%;
				padding-top: 3rem;// on contact page there is no padding-top hmmmmm
				padding-bottom: 3rem;
      }
      .widget-area{ // sidebar
        flex-basis: 30%;
        padding-top: 20px;
        padding-left: 60px;
        border-left: black;
      }  
    } // end of .site-content 
  }   
} // end of body

.container {
	margin: 0 auto;	
	width: 1120px;
}
/* Front page front-page.php */
.home{
	.front{
		margin-bottom: 5rem;
		width: 1120px;
	}
		h2{
			font-size: 2.4rem;
			font-weight: 400;
			margin-bottom: 3.75rem;
			text-align: center;
		}
} 
.home .site-content{
width:100%;
margin: 0 auto;
}
/*Front page -> Banner*/
.front-page-banner{
		display: flex;
		justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url('../../img/home-hero.jpg') no-repeat top;
    background-size: cover,cover;
		height:100vh;
		width: 100%;
}
/*Front page -> Shop products*/
.product-container{
	display: flex;
	justify-content: space-between;
	text-align: center;
	.single-product{
	border: 1px solid #e1e1e1;
    border-top-width: 5px;
    flex-basis: 25%;
    max-width: 23.5%;
		padding: .75rem;
		&:hover{
			border:1px solid $color_yellow;
		}
		img{
			height: 70px;
			width: 70px;
		}
		p{
			margin-bottom: 1.5rem;
		}
	}
}//end of product-container

/*Front page -> Journal section*/
.blog-posts-container{
	display: flex;
	justify-content: space-between;
	.blog-posts-single{
		flex-basis: 33%;
		border: 1px solid #e1e1e1;
		position: relative;
		h3{
			font-size: 1.3rem;
			margin-bottom: 3.75rem;
			a{
				color:$color_green;
				&:hover{
					color:black;
				}
			}
		}
		img{
			height: 250px;
		}
	}
	.blog-posts-single-text{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: .75rem;
	} 
	.button-black-border{
		position:absolute;
    	bottom: .75rem;
    	left: .75rem;
    	font-size:.9rem;
    	color:#000;
	}
}//end of blog-posts-container

/*Front page -> Adventures section*/
.adventures-posts-container{
	display: grid;
	grid-gap:14px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	.adventures-posts-single{
		position: relative;
			img{
			display: inline-block;
			object-fit: cover; //https://www.w3schools.com/css/css3_object-fit.asp
			width: 100%; 
			//https://www.w3schools.com/cssref/css3_pr_filter.asp
			filter: contrast(80%) brightness(70%);
		}
	}
	.adventures-posts-single-text{
		position: absolute;
		top:0;
		margin: 25px;
			h3{
				font-size: 3rem;
				line-height: 1.25rem;
				margin: 20px 0;
				line-height: 1;
			}
			.entry-title a{
				font-family: $font__main;
				font-weight: 400;
				text-transform: none;
				color: white;
				&:hover{
				  color:$color_yellow;
				  opacity: 50%;
				} 
			}
			.adventures-post-button{
				padding: 5px;
				// width: 40%;
				text-align: center;
				font-family: $font_second;
				text-transform: uppercase;
				border: 1px solid white;
				&:hover{
					background-color:$color_green;
					border: 1px solid $color_green;
				}
				   a{
					color: white;
				   }
			  }	
	}
	.adventures-posts-single:nth-child(1){
		grid-row-start: span 2;
		grid-column-start: span 2;
		height: 552.5px;
		img{
		  height: 552.5px; 
		}
	  }
	.adventures-posts-single:nth-child(2){
		grid-column-start: span 2;
		height: 268.75px; 
		img{
		  height: 268.75px; 
		}
	  }
	.adventures-posts-single:nth-child(3){
		height: 268.75px; 
		img{
		  height: 268.75px; 
		}
		.adventures-posts-single-text{
			h3{
			  font-size: 1.6rem;
			  line-height: 2.2rem;
			  margin: 20px 0;
			}
		  }
	}
	.adventures-posts-single:nth-child(4){
		height: 268.75px; 
		img{
		  height: 268.75px; 
		}
		.adventures-posts-single-text{
			h3{
			  font-size: 1.6rem;
			  line-height: 2.2rem;
			  margin: 20px 0;
			}
		  }
	  }
}   // end of adventures-posts-container 
.adventures-button{
	background: #248a83;
    color: #fff;
    font-family: $font_second;
    font-size: 1.2rem;
    padding: 5px;
	text-transform: uppercase;
	text-align: center;
    width: 20%;
    margin-top: 1.2rem;
	a{
		color:white;
	}
}

/*Single post page->single.php, blog(journal) page -> home.php, category/archive page ->archive.php*/
.blog, .single-post, .archive{
  .post{
    margin-bottom: 80px;
    .entry-header{
      position: relative;
      img{
        width: 100%;
        display: block;
      }
      .entry-title{
        position: absolute;
        left: 0;
        top: 8px;
        background-color: $color_green;
        width: 570px;
        padding: 15px 25px;
        line-height: 40px;
        a{
          color: white;
          font-size: 2rem;
          font-weight: 700;
          &:hover{
            color: $color_yellow;
          }
        }
        &:not(.blog){
          color: white;
          font-size: 2rem;
          font-weight: 700;
        }
      }
      .entry-meta{
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $color_green;
        padding: 5px 15px;
        color: white;
        font-family: $font_second;
        text-transform: uppercase;
        span{
          color: white;
          font-family: $font_second;
          text-transform: uppercase;
          &:not(.blog){
            a{
              color: white;
              font-family: $font_second;
              text-transform: uppercase;
              &:hover{
                color: $color_yellow;
              }
            }
          }
        }  
      } // end of .entry-meta
    } // end of .entry-header
  } // end of .post
} // end of .blog, .single-post
.social-buttons {
	margin:1.5rem 0;
	display: flex;
    & .button-black-border{
    	font-size: .9rem;
    	margin-right: 10px;
    }
}//end of social buttons


/* error 404 page */
.error404{
  .site-main{
    .error-404{
      .page-header{
        h1{
          font-size: 2.3rem;
          margin-top: 0;
          margin-bottom: 50px;
          line-height: 2.3rem;
        }
      }
      .search-form{
        fieldset{
          margin-left: 0;
        }
        .search-icon{
          display: none;
        }
        label{
          margin-left: 0;
        }
        
      }
      .page-content{
        .widget{
          .widgettitle{
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.5rem;
          margin-top: 50px;
          }
          ul{   
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            li{
              a{
                font-family: $font__main;
                text-transform: none;
              }
            }
          }
        }
      } // end of .page-content
    } // end of .error-404
  } // end of .site-main
} // end of .error404



 
